/* app global css */
a {
  text-decoration: none;
}

html{
  overflow-y: hidden;
}

body{
  background-color: #cecaca;
}

.content{
  position: absolute;
  width: 100%;
  height: 100%;
}

#rightCol{
  height: 85%;
  display: inline-block;
}

#leftCol{
  max-height: 85%;
}

.scrollable {
  overflow-y: scroll;
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: orange;
}
*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

.userPlayerCard{
  height: auto;  
  width: 4.5em;
  margin-left: 1.3em;
}

.cardInHand{
  margin-left: 1%;
  margin-right: 1%;
  height: auto;  
  width: 9%;
}

.cards{
  margin-left: 1%;
  margin-right: 1%;
  height: auto;  
  width: 13%;
}

.badgeAndCharacterCardContainer {
  height: 100%;
  padding: 0;
  margin: 0 0 0 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeContainer {
  margin-left: 1em;
}

.cardsContainer {
  height: 100%;
  padding: 0;
  margin: 0 0 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCardsContainer{
  width: 100%;
  margin-left: 1em;
}

.handContainer{
  height: 100%;
  width: 100%;
  padding: 12px 12px;
  /* margin: 0 0 1rem 1.05rem; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardWrapper{
  width: 100%;
}

.badge{
  width: 100%;
}

.flex.inline{
  display: inline-block;
}

.player{
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
  padding: 0.5em 0.5em;
  margin-top: 0.3em;
}

.playerHand{
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
  padding: 0.5em 0.5em;
  margin-top: 0.3em;
}

.innerPlayersBox{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagName{
  text-align: center;
  /* border-bottom: 2px solid red;
  margin: 0 0 8px 0;
  padding: 0 0 5px 0; */
}

.collapseButtonBox{
  margin-top: 4.5%;
  text-align: center;
}

.background{
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://www.voidu.com/content/products/gallery/citadels-ms-v-002-l-24862-20171128110207.jpg);
  
}


/*Set del tooltip*/

/*            <span
              tabindex="0"
              data-descr="E' un coglione, ma gli vogliamo tanto bene"
            >EJOINT</span>---- usato come prova -----*/
span[data-descr] {
  position: relative;
  cursor: help;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

/*style dell HR sotto al nickname*/


/* span[data-descr]:focus::after */

#topSxBox{
  margin: 0.8em 0 0 0;
}

.boxHeader{
  min-height: 15%;
  width: 100%;
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
}

.panelBackground {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://img.freepik.com/vettori-gratuito/pergamena-gialla_53876-91513.jpg?size=626&ext=jpg);
  background-origin: content-box;
  background-position: center;
  background-size: 99% 97%;
  background-repeat: no-repeat;
}

.playerContainer{
  padding: 0.5em 0.5em;
  margin-top: 0.3em;
}

/*CSS di Waiting Room*/

div #statGameCard{
  height: 100%;
  padding-right: 2em;
  padding-left: 2em;
}
.textHeadBox{
  font-size: 1.8em;
}