/* app global css */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

a {
  text-decoration: none;
}

#boxPG{
  box-sizing: content-box;
  border: 2px solid black;
  border-radius: 27px;
  height: 3.5em;
  width: 3.5em;
  position: relative;
  top: 0;
  left: 0;
}

.xRed{
  position: absolute;
  top: 4px;
  left: 4px;
  height: 85%;
  width: 85%;
}

.boxPgDimension{
  margin: 1px 0 0 0;
  height: 100%;
  width: 100%;
}

.scartato{
  border:1px solid gray;
  width:28px;
  height:28px;
  position:relative; 
}

.scartato:after{
  content:"";
  position:absolute;
  border-top:1px solid red;
  width:40px;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}

.diTurno{
  box-shadow:0px 0px 4px #ffeb3b,0px 0px 5px #ffeb3b,0px 0px 6px #ffeb3b,0px 0px 6px #ffeb3b;
}

.headerBackground{
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(https://i.ibb.co/M516FRX/header.png);
}

.HeaderTextFont{
  text-shadow:2px -1px 0px rgb(14, 14, 14);
  color: #e9e1e1;
  letter-spacing: 2px;
  font-size: 2em;
  text-align: center;
  font-family: 'MedievalSharp';
  /* -webkit-text-stroke: 1px white; */
}

html{
  overflow-y: hidden;
}

body{
  background-color: #cecaca;
}


.content{
  position: absolute;
  width: 100%;
  height: 100%;
}

#rightCol{
  height: 85%;
  display: inline-block;
}

#leftCol{
  max-height: 85%;
}

#rightCol {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #2ce8f4 #1976d2;
}

/* Works on Chrome/Edge/Safari */
#rightCol::-webkit-scrollbar {
  width: 12px;
}
#rightCol::-webkit-scrollbar-track {
  background: #1976d2;
}
#rightCol::-webkit-scrollbar-thumb {
  background-color: #2ce8f4;
  border-radius: 20px;
  border: 3px solid #1976d2;
}

.userPlayerCard{
  height: auto;  
  width: 4.5em;
  margin-left: 1.3em;
}

.cardInHand{
  margin-left: 1%;
  margin-right: 1%;
  height: auto;  
  width: 9%;
}

.cards{
  margin-left: 1%;
  margin-right: 1%;
  height: auto;  
  width: 13%;
}

.badgeAndCharacterCardContainer {
  height: 100%;
  padding: 0;
  margin: 0 0 0 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeContainer {
  margin-left: 1em;
}

.cardsContainer {
  height: 100%;
  padding: 0;
  margin: 0 0 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCardsContainer{
  width: 100%;
  margin-left: 1em;
}

.handContainer{
  height: 100%;
  width: 100%;
  padding: 12px 12px;
  /* margin: 0 0 1rem 1.05rem; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardWrapper{
  width: 100%;
}

.badge{
  width: 100%;
}

.flex.inline{
  display: inline-block;
}

.player{
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
  padding: 0.5em 0.5em;
  margin-top: 0.3em;
}

.playerHand{
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
  padding: 0.5em 0.5em;
  margin-top: 0.3em;
}

.innerPlayersBox{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagName{
  text-align: center;
  /* border-bottom: 2px solid red;
  margin: 0 0 8px 0;
  padding: 0 0 5px 0; */
}

.collapseButtonBox{
  margin-top: 4.5%;
  text-align: center;
}

.background{
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://www.voidu.com/content/products/gallery/citadels-ms-v-002-l-24862-20171128110207.jpg);
}


/*Set del tooltip*/

/*            <span
              tabindex="0"
              data-descr="E' un coglione, ma gli vogliamo tanto bene"
            >EJOINT</span>---- usato come prova -----*/
span[data-descr] {
  position: relative;
  cursor: help;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

/*style dell HR sotto al nickname*/


/* span[data-descr]:focus::after */

#topSxBox{
  margin: 0.8em 0 0 0;
}

.boxHeader{
  min-height: 15%;
  width: 100%;
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
}

.panelBackground {
  /* background-color: rgba(255, 255, 255, 0.4); */
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.3));
  background-origin: content-box;
  background-position: center;
  background-size: 99% 97%;
  background-repeat: no-repeat;
}

.playerContainer{
  padding: 0.5em 0.5em;
  margin-top: 0.3em;
}

/*CSS di Waiting Room*/

.backgroundWaitingRoom{
  height: 100%;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://www.voidu.com/content/products/gallery/citadels-ms-v-002-l-24862-20171128110207.jpg);
}

div #statGameCard{
  height: 100%;
  padding-right: 2em;
  padding-left: 2em;
}
.textHeadBox{
  font-size: 1.8em;
}

.containerWaitingRoom{
  height: 100%;
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
}

.dialogAction{
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
  padding: 0.5em 0.5em;
  margin-top: 0.3em;
  background: url(https://img.freepik.com/vettori-gratuito/pergamena-gialla_53876-91513.jpg?size=626&ext=jpg);
  background-origin: content-box;
  background-position: center;
  background-size: 97% 97%;
  background-repeat: no-repeat;
}

.dialogHeader{
  background: none
}

.dialogPower{
  border: 2px solid transparent;
  border-image-source: url(../statics/images/bordo2.png);
  border-image-slice: 35;
  border-image-width: 1.5em;
  border-image-outset: 0;
  border-image-repeat: stretch;
  padding: 0.5em 0.5em;
  margin-top: 0.3em;
  background: url(https://img.freepik.com/vettori-gratuito/pergamena-gialla_53876-91513.jpg?size=626&ext=jpg);
  background-origin: content-box;
  background-position: center;
  background-size: 97% 97%;
  background-repeat: no-repeat;
}

/*LOGIN FORM CSS*/

*, ::after, ::before {
  box-sizing: border-box;
}
body {
  background-color: #cecaca;
  color: #fff;
  /* font-family: monospace, serif; */
  letter-spacing: 0.05em;
}
h1 {
  font-size: 23px;
}
.form {
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
}
.form .control {
  margin: 0 0 24px;
}
.form .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 16px;
}
.form .control input:hover, .form .control input:focus {
  outline: none;
  border: 0;
}
.form .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}
.block-cube {
  position: relative;
}
.block-cube .bg-top {
  position: absolute;
  height: 10px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}
.block-cube .bg-top .bg-inner {
  bottom: 0;
}
.block-cube .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #397817 37%, #61cc27 94%);
}
.block-cube .bg-right {
  position: absolute;
  background: #020024;
  background: #00d4ff;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}
.block-cube .bg-right .bg-inner {
  left: 0;
}
.block-cube .bg .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube .bg-inner {
  background: #212121;
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.block-cube .text {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
  top: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.block-cube.block-input .bg-top, .block-cube.block-input .bg-right, .block-cube.block-input .bg {
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease-in-out;
}
.block-cube.block-input .bg-right .bg-inner, .block-cube.block-input .bg-top .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube.block-input:focus .bg-top, .block-cube.block-input:hover .bg-top, .block-cube.block-input:focus .bg-right, .block-cube.block-input:hover .bg-right, .block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg {
  background: rgba(255, 255, 255, 0.8);
}
.block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

/* css per l header */

.backgroundHeaderQuasar{
  font-family: 'MedievalSharp';
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://i.ibb.co/M516FRX/header.png)
}